{% extends '::base.twig.html' %}

{% block header -%}
    {% include "header.twig.html" %}
{% endblock %}

{% block body -%}
    <h1>Users</h1>

    <table border="1px">
        <thead>
            <tr>
                <th>Name</th>
                <th>Emailid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.firstname ~ ' ' ~ entity.lastname}}</a> </td>
                <td>{{ entity.emailId }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <button onclick="location.href='{{ path('user_new')}}'">Create New User</button>
    {% endblock %}
